{{#if error}}
	<span style="color: #c0392b">{{error.text}}</span>
{{else}}
	<h3 id="champion-data-header">Top Champions</h3>
{{/if}}
<div class="row">
{{#each champions}}
	<div class="champion col-md-6" style="background-image: url('{{this.splashURL}}')" data-id="{{this.id}}">
		<div class="champion-info">
			<div class="indicator indicator-1" style="color: #e74c3c">
				<i class="fa fa-bolt"></i>
			</div>

			<div class="indicator indicator-2" style="color: #2ecc71">
				<i class="fa fa-shield"></i>
			</div>

			<div class="indicator indicator-3" style="color: #3498db">
				<i class="fa fa-magic"></i>
			</div>

			<div class="indicator indicator-4" style="color: #9b59b6">
				<i class="fa fa-balance-scale"></i>
			</div>
		</div>
		<div class="champion-footer">
			<img src="{{this.imageURL}}" class="champion-icon">
			<span class="champion-name">{{this.name}}</span>
			<span class="champion-stats"><span style="color: #3498db">W {{this.outcome.won}}</span> <span style="color: #7f8c8d">·</span> <span style="color: #e74c3c">L {{this.outcome.lost}}</span><br>
				{{this.kills.kills}}<span style="color: #bdc3c7">/</span>{{this.kills.deaths}}<span style="color: #bdc3c7">/</span>{{this.kills.assists}}</span>
			<div class="champion-title">{{this.title}}</div>
		</div>
	</div>
	<div class="expanded-champion-stats" data-id="{{this.id}}">
		<div class="champion-info-bar">
			{{#each this.tags}}
				<div class="champion-tag">{{this}}</div>
			{{/each}}
		</div>
	</div>
{{/each}}
</div>

<script>
	var aggregateStats = {{{aggregateStats}}},
		championInfo = {{{championInfo}}};

	{{#if champions}}
	$("#sidebar").show();
	{{/if}}
</script>