{{#if error}}
	<span style="color: #c0392b">{{error.text}}</span>
{{else}}
	<h3 id="champion-data-header">Top Champions</h3>
{{/if}}
<div class="row">
{{#each champions}}
	<div class="champion col-md-6" style="background-image: url('{{this.splashURL}}')" data-id="{{this.id}}">
		<div class="champion-info">
			<div class="indicator indicator-1" style="color: #e74c3c">
				<i class="fa fa-bolt"></i>
			</div>

			<div class="indicator indicator-2" style="color: #2ecc71">
				<i class="fa fa-shield"></i>
			</div>

			<div class="indicator indicator-3" style="color: #3498db">
				<i class="fa fa-magic"></i>
			</div>

			<div class="indicator indicator-4" style="color: #9b59b6">
				<i class="fa fa-balance-scale"></i>
			</div>
		</div>
		<div class="champion-footer">
			<img src="{{this.imageURL}}" class="champion-icon">
			<span class="champion-name">{{this.name}}</span>
			<span class="champion-stats"><span style="color: #3498db">W {{this.outcome.won}}</span> <span style="color: #7f8c8d">·</span> <span style="color: #e74c3c">L {{this.outcome.lost}}</span><br>
				{{this.kills.kills}}<span style="color: #bdc3c7">/</span>{{this.kills.deaths}}<span style="color: #bdc3c7">/</span>{{this.kills.assists}}</span>
			<div class="champion-title">{{this.title}}</div>
		</div>
	</div>
	<div class="expanded-champion-stats" data-id="{{this.id}}">
		<div class="champion-info-bar">
			<div class="champion-tab champion-tab-selected tab-spotlight">SPOTLIGHT</div>
			<div class="champion-tab tab-info">INFO</div>
			<div class="champion-tab tab-your-stats"><span class="hidden-on-mobile">YOUR </span>STATS</div>
			{{#each this.tags}}
				<div class="champion-tag">{{this}}</div>
			{{/each}}
		</div>
		<div class="champion-sidebar">
			<div class="champion-sidebar-header">
				COMBAT
			</div>
			{{roundOne this.kills.averageKills}} <span class="champion-sidebar-suffix" style="color: #3498db">kills</span><br>
			{{roundOne this.kills.averageAssists}} <span class="champion-sidebar-suffix" style="color: #9b59b6">assists</span><br>
			{{roundOne this.kills.averageDeaths}} <span class="champion-sidebar-suffix" style="color: #e74c3c">deaths</span>
			<div class="champion-sidebar-header">
				WINS
			</div>
			{{this.outcome.won}} <span class="champion-sidebar-suffix" style="color: #2ecc71">games won</span><br>
			{{this.outcome.lost}} <span class="champion-sidebar-suffix" style="color: #e74c3c">games lost</span><br>
			<div class="champion-sidebar-header">
				OTHER
			</div>
			{{numberFormatter this.gold.average}} <span class="champion-sidebar-suffix" style="color: #f1c40f">gold</span><br>
			{{numberFormatter this.creepScore.average}} <span class="champion-sidebar-suffix" style="color: #2ecc71">minion kills</span><br>
			{{numberFormatter this.damage.averageDealt}} <span class="champion-sidebar-suffix" style="color: #3498db">damage dealt</span><br>
			{{numberFormatter this.damage.averageTaken}} <span class="champion-sidebar-suffix" style="color: #e74c3c">damage taken</span><br>
			{{numberFormatter this.turrets.average}} <span class="champion-sidebar-suffix" style="color: #1abc9c">turrets killed</span><br>
			<div class="champion-sidebar-header">
				LINKS
			</div>
			<ul>
				<li><a target="_blank" href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{{noSpacesLowercase this.name}}}/">Official Info Page</a></li>
				<li><a target="_blank" href="http://leagueoflegends.wikia.com/wiki/{{{spaceToUnderscore this.name}}}">Wikia</a></li>
			</ul>
		</div>
		<div class="champion-tabbed-content" data-id="{{this.id}}">
			<div class="tab-spotlight">
				<div class="embed-responsive embed-responsive-16by9"></div>
			</div>
			<div class="tab-info tab-padded">
				This is the info tab
			</div>
			<div class="tab-your-stats tab-padded">
				Your stats tab
			</div>
		</div>
	</div>
{{/each}}
</div>

<script>
	var aggregateStats = {{{aggregateStats}}},
		championInfo = {{{championInfo}}},
		baseCacheUrl = "{{{baseURL}}}";

	{{#if champions}}
	$("#sidebar").show();
	{{/if}}

	$(".champion-tab").click(function(ev) {
		if($(this).hasClass("champion-tab-selected"))
			return false;

		var old_tab = $(".champion-tab-selected").removeClass("champion-tab-selected").attr("class").split(' '),
			new_tab = $(this).attr("class").split(' ');

		old_tab.splice(old_tab.indexOf("champion-tab"), 1);
		new_tab.splice(new_tab.indexOf("champion-tab"), 1);

		$(this).parent().parent().find(".champion-tabbed-content").find("." + old_tab[0]).hide();
		$(this).parent().parent().find(".champion-tabbed-content").find("." + new_tab[0]).show();
		$(this).addClass("champion-tab-selected");
	});
</script>